<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/global.css" />
    <link rel="icon" href="/android-chrome-192x192.png" type="image/jpeg" />
    <meta name="description" content="A simple weather app" />
    <title>WeatherLy</title>
  </head>
  <body>
    <% if (forecast) { %>
    <form action="/search/" method="post">
      <input type="text" name="search" value="<%= forecast.location.name %>, <%= forecast.location.region %>" placeholder="Search City Name" />
    </form>

    <h2><%= forecast.location.name %>, <%= forecast.location.region %></h2>
    <p>Temperature: <%= forecast.current.temp_c %>°</p>
    <p>Condition: <%= forecast.current.condition.text %></p>
    <% } else if (error) { %>
    <p><%= error %></p>
    <% } else { %>
    <p>Loading weather data...</p>
    <% } %>
  </body>
</html>
